* {
  box-sizing: border-box;
}

.container {
  margin: auto;
  max-width: 1134px;
}

.headers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  font: lighter 34px Segoe UI;
  color: black;
}

.header-background {
  background-color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.header-text {
  font: 16px Segoe UI;
}

.header-button {
  font: bold 13px Segoe UI;
  color: white !important;
  background-color: #ffa019;
  padding: 13px 24px;
  border-radius: 10px;
}

.menu-background {
  background-color: white;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.menu-text {
  font: bold 30px Segoe UI;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.menu-item-text {
  font: 14px Segoe UI;
  color: black !important;
  margin-left: 41px;
}

.background {
  background: linear-gradient(0deg,
      rgba(0, 0, 0, 0.6) 100%,
      rgba(0, 0, 0, 0.6) 100%),
    url(../img/scooter-background.jpg) no-repeat center top / cover;
  background-size: 100%;
}

.background-sqare {
  width: 100%;
  height: 203px;
  background: white;
}

.main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 62px;
  padding-top: 20%;
  flex-direction: column;
  padding-bottom: 20%;
  margin-bottom: 15%;
}

.main-header-text-1 {
  font: lighter 56px Segoe UI;
  color: white;
  margin-bottom: 16px;
}

.main-header-text-2 {
  font: lighter 20px Segoe UI;
  color: white;
  text-align: center;
  margin-bottom: 45px;
}

.main-header-button {
  border-radius: 10px;
  background: white;
  font: bold 12px Segoe UI;
  color: black;
  text-align: center;
  padding: 10px 32px;
  margin-bottom: 261px;
}

.our-advantages {
  display: flex;
  flex-direction: column;
}

.our-advantages-arrows {
  list-style-type: none;
  display: flex;
}

.our-advantages-menu {
  list-style-type: none;
  display: flex;
  margin-top: 164px;
}

.our-advantages-qual {
  width: 159px;
  margin-right: 131px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our-advantages-deli {
  width: 153px;
  margin-right: 139px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our-advantages-big {
  width: 194px;
  margin-right: 91px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our-advantages-cons {
  width: 176px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our-advantages-image {
  margin-bottom: 67px;
}

.our-advantages-text {
  font: lighter 20px Segoe UI;
  width: 194px;
  text-align: center;
  margin-bottom: 124px;
}

.about-us {
  display: flex;
  flex-direction: column;
}

.about-us-text {
  margin-top: 54px;
  font: lighter 20px Segoe UI;
  margin-bottom: 34px;
}

.about-us-text:last-child {
  margin-top: 0;
  margin-bottom: 70px;
}

.about-us-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.about-us-bottom-background {
  background: #ffa019;
  width: 100%;
  height: 94px;
}

.about-us-bottom {
  display: flex;
  flex-direction: row;
  padding-top: 23px;
  padding-bottom: 23px;
  justify-content: space-between;
}

.about-us-bottom-text {
  font: normal 18px Segoe UI;
  text-align: left;
  color: white;
  width: 275px;
  height: 48px;
  text-align: justify;
}

.about-us-bottom-item {
  display: flex;
  align-items: center;
  width: 240px;
  height: 48px;
  margin-right: 16px;
  border: 1px solid white;
}

.about-us-bottom-link {
  display: flex;
  align-items: center;
  width: 240px;
  height: 48px;
  margin-right: 16px;
  background: white;
}

.about-us-bottom-item-text {
  margin-left: 31px;
  font: 14px Segoe UI;
  color: white;
}

.about-us-bottom-link-text {
  margin-left: auto;
  margin-right: auto;
  font: bold 14px Segoe UI;
  color: black;
}

.features-of-hoverboards {
  padding-top: 65px;
  padding-bottom: 66px;
}

.features-of-hoverboards-header {
  font: lighter 34px Segoe UI;
}

.features-of-hoverboards-menu {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.features-of-hoverboards-menu-item {
  width: 352px;
  font: lighter 20px Segoe UI;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-right: 36px;
  padding-top: 51px;
  padding-bottom: 56px;
}

.features-of-hoverboards-text {
  font: lighter 19.9px Segoe UI;
  text-align: justify;
}

.catalog-background {
  background: #fbfbfb;
}

.catalog {
  padding-top: 65px;
}

.catalog-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.catalog-menu-item-text {
  padding-bottom: 2px;
  display: flex;
  border-radius: 15px;
  height: 31px;
  padding-left: 13px;
  padding-right: 13px;
  background: rgb(rgba(0, 0, 0, 0), green, blue);
  font: lighter 16px Segoe UI;
  margin-left: 34px;
  align-items: center;
  justify-content: center;
  color: black;
}

.catalog-menu-item-text:hover {
  transition: 0.1s;
  color: white;
  background: #ffa019;
}

.catalog-goods-menu {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  padding-top: 61px;
  padding-bottom: 61px;
  margin-right: 30px;
}

.catalog-goods-menu-items {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 261px;
  height: 450px;
  background: white;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.1);
}

.catalog-goods-items-img {
  width: 261px;
  height: 261px;
}

.img-1 {
  background: url(../img/s_2.jpg) no-repeat center top / cover;
}

.img-2 {
  background: url(../img/h_2.jpg) no-repeat center top / cover;
}

.img-3 {
  background: url(../img/e_3.jpg) no-repeat center top / cover;
}

.img-4 {
  background: url(../img/s_1.jpg) no-repeat center top / cover;
}

.catalog-goods-menu-items-name-background {
  margin-top: 37px;
  display: flex;
  height: 29px;
  padding-right: 12px;
  padding-left: 13px;
  background: #ffa019;
  align-items: center;
  border-radius: 0px 15px 15px 0px;
}

.catalog-goods-menu-items-name {
  font: normal 14px Segoe UI;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

.catalog-goods-items-description {
  max-width: 179px;
  min-width: 150px;
  min-height: 50px;
  font: lighter 16px Segoe UI;
  margin-left: 13px;
}

.catalog-goods-items-cost {
  padding-top: 7px;
  margin-left: 13px;
  font: bold 20px Segoe UI;
}

.our-consultants {
  padding-top: 96px;
}

.our-consultants-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.our-consultants-items {
  max-width: 332px;
  min-height: 180px;
}

.our-consultants-items-img-1 {
  background: url(../img/1.png) no-repeat center top / cover;
}

.arrow-left {
  transform: rotate(180deg);
  margin-right: 12px;
}

.link-text {
  text-decoration: none;
}

body {
  margin: 0;
  background: white;
}